@model prjWorkflowHubAdmin.ViewModels.LectureAndPublisher.LectureViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>新增講座</h1>

<h4>請輸入講座資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FLecName" class="control-label"></label>
                <input asp-for="FLecName" class="form-control" />
                <span asp-validation-for="FLecName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPubName" class="control-label"></label>
                <input asp-for="FPubName" class="form-control" />
                <span asp-validation-for="FPubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPublisherId" class="control-label"></label>
                <input asp-for="FPublisherId" class="form-control" />
                <span asp-validation-for="FPublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FLecPrice" class="control-label"></label>
                <input asp-for="FLecPrice" class="form-control" />
                <span asp-validation-for="FLecPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FLecPoints" class="control-label"></label>
                <input asp-for="FLecPoints" class="form-control" />
                <span asp-validation-for="FLecPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FLecDescription" class="control-label"></label>
                <input asp-for="FLecDescription" class="form-control" />
                <span asp-validation-for="FLecDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* 改成選項，並控制下面不能輸入 *@
                <label asp-for="FOnline" class="control-label"></label>
                <select asp-for="FOnline" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>請選擇講座類型</option>
                    <option value="true">線上講座</option>
                    <option value="false">線下講座</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FLecDate" class="control-label"></label>
                <input asp-for="FLecDate" class="form-control" />
                <span asp-validation-for="FLecDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FLecLocation" class="control-label"></label>
                <input asp-for="FLecLocation" class="form-control" />
                <span asp-validation-for="FLecLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FLecLimit" class="control-label"></label>
                <input asp-for="FLecLimit" class="form-control" />
                <span asp-validation-for="FLecLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FLink" class="control-label"></label>
                <input asp-for="FLink" class="form-control" />
                <span asp-validation-for="FLink" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="FLecImagePath" class="control-label"></label>
                <input asp-for="FLecImagePath" class="form-control" />
                <span asp-validation-for="FLecImagePath" class="text-danger"></span>
            </div> *@
@*             <div class="form-group">
                <label asp-for="FLecImage" class="control-label"></label>
                <input asp-for="FLecImage" class="form-control" />
                <span asp-validation-for="FLecImage" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="確認" class="btn btn-primary" />
                <button id="demo" type="button" class="btn btn-primary">Demo</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消新增</a>
</div>

@section Scripts {
    <script>
        document.getElementById("demo").addEventListener("click", function(){
            document.getElementById("FLecName").value = "我的講座";
            document.getElementById("FPubName").value = "Marco_teach";
            document.getElementById("FPublisherId").value = "1";
            document.getElementById("FLecPrice").value = "500";
            document.getElementById("FLecPoints").value = "500";
            document.getElementById("FLecDate").value = "2024/10/21 13:00";
            document.getElementById("FLecDescription").value = "程式相關";
            document.getElementById("FOnline").value = "true";
            document.getElementById("FLink").value = "https://www.ispan.com.tw/";

        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
