@{
    <!--網頁標題-->
    ViewData["Title"] = "講座管理";
}
<!--內容頁開始處-->
@*<li class="menu-item">
    <a href="/Lecture/List" class="menu-link">
        <i class="menu-icon tf-icons bx bx-chalkboard"></i>
        <div data-i18n="LectureAdmin">講座管理</div>
    </a>
</li>
<li class="menu-item">
    <a href="/LectureManage/List" class="menu-link">
        <i class="menu-icon tf-icons bx bx-chalkboard"></i>
        <div data-i18n="LectureAdmin">講座報名管理</div>
    </a>
</li>
*@
<div class="row mb-12 g-6">
    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <img class="card-img-top" src="../assets/img/elements/50.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">講座管理</h5>
                <p class="card-text">
                    對於發布者發布的講座做後臺管理的頁面。
                </p>
                <a href="/Lecture/List" class="btn btn-outline-primary">進入講座管理</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">講座報名管理</h5>
                <h6 class="card-subtitle">對於報名講座的會員做紀錄以及管理</h6>
                <div class="card-body">
                    <a href="/LectureManage/List" class="btn btn-outline-primary">進入講座報名管理</a>
                </div>
            </div>
            <img class="img-fluid" src="../assets/img/elements/51.jpg" alt="Card image cap" />
            <p> </p>
        </div>
    </div>
    @*<div class="col-md-6 col-lg-4">
    <div class="card h-100">
    <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle">Support card subtitle</h6>
    <img class="img-fluid d-flex mx-auto my-6 rounded"
    src="../assets/img/elements/4.jpg"
    alt="Card image cap" />
    <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
    <a href="javascript:void(0);" class="card-link">Card link</a>
    <a href="javascript:void(0);" class="card-link">Another link</a>
    </div>
    </div>
    </div>*@
</div>
