@model prjWorkflowHubAdmin.ViewModels.LectureAndPublisher.PublisherViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>新增發布者</h1>

<h4>輸入發布者資訊</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FPubName" class="control-label"></label>
                <input asp-for="FPubName" class="form-control" />
                <span asp-validation-for="FPubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMemberId" class="control-label"></label>
                <input asp-for="FMemberId" class="form-control" />
                <span asp-validation-for="FMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fMemberName" class="control-label"></label>
                <input asp-for="fMemberName" class="form-control" />
                <span asp-validation-for="fMemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPubDescription" class="control-label"></label>
                <input asp-for="FPubDescription" class="form-control" />
                <span asp-validation-for="FPubDescription" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="FPubImage" class="control-label"></label>
                <input asp-for="FPubImage" class="form-control" />
                <span asp-validation-for="FPubImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FLecImagePath" class="control-label"></label>
                <input asp-for="FLecImagePath" class="form-control" />
                <span asp-validation-for="FLecImagePath" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="確認" class="btn btn-primary" />
                <button type="button" id="demo" class="btn btn-primary">Demo</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消新增</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("demo").addEventListener("click", function () {
            document.getElementById("FPubName").value = "Mario";
            document.getElementById("FMemberId").value = "1";
            document.getElementById("fMemberName").value = "Marco";
            document.getElementById("FPubDescription").value = "Hi, 我是Mario";
        })
    </script>
}
