@{
    <!--網頁標題-->
    ViewData["Title"] = "發佈者管理";
}
<!--內容頁開始處-->
<li class="menu-item">
    <a href="/Publisher/List" class="menu-link">
        <i class="menu-icon tf-icons bx bx-chalkboard"></i>
        <div data-i18n="LectureAdmin">發布者管理</div>
    </a>
</li>