/* diagram-styles.css */

/* 針對 text 和 textarea 元素設定的內聯樣式，定義了文本對齊方式和顏色等 */
text {
    white-space: pre-wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(73, 80, 87);
}

textarea {
    text-align: center; /* 文本區域文本居中對齊 */
    border: none; /* 無邊框 */
    padding: 10px; /* 內邊距 */
    padding-top: 0.8em; /* 上內邊距 */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: transparent; /* 背景透明 */
    color: transparent; /* 文字透明 */
    outline: none; /* 無外邊框 */
    overflow: hidden; /* 隱藏溢出的內容 */
    resize: none; /* 禁止用戶調整大小 */
    line-height: 1em; /* 行高 */
    caret-color: #fff; /* 光標顏色設為白色 */
}

/* 隱藏具有 data-connect 屬性的元素 */
[data-connect] {
    display: none;
}

/* 選中的元素樣式，主要是線條和填充顏色 */
.select path[data-key="selected"],
.select .path-end,
.select [data-connect],
.highlight-e [data-key="end"] .path-end,
.highlight-s [data-key="start"] .path-end,
.hover [data-connect] {
    display: unset; /* 顯示 */
    opacity: 0.51; /* 設定透明度 */
    stroke: rgb(108 187 247); /* 設定描邊顏色 */
    fill: rgb(108 187 247); /* 設定填充顏色 */
}

[data-connect].hover {
    stroke-width: 25px;
}
/* 當元素被懸停時增加描邊寬度 */

.select path[data-key="selected"] {
    fill: none;
}
/* 設定選中元素的填充為無 */

.highlight [data-key="main"] {
    paint-order: stroke; /* 設定繪製順序 */
    stroke-width: 10px; /* 設定描邊寬度 */
    stroke: rgb(108 187 247 / 51%); /* 設定描邊顏色和透明度 */
}

.shpath [data-key="end"] .path,
.shpath [data-key="start"] .path {
    display: none;
}
/* 隱藏某些類型的形狀路徑 */
.shpath.arw-e [data-key="end"] .path,
.shpath.arw-s [data-key="start"] .path {
    display: unset;
}
/* 顯示箭頭形狀 */
.shpath.dash [data-key="path"] {
    stroke-dasharray: 5;
}
/* 設定虛線效果 */

@media (pointer: coarse) {
    /* 在觸摸屏設備上調整圓形的大小 */
    circle.path-end {
        r: 20px;
    }

    .ative-elem {
        stroke: rgb(108 187 247 / 51%);
        stroke-width: 70px;
    }

    [data-connect] {
        stroke-width: 15px;
    }
        /* 增加連接線寬度 */
        [data-connect].hover {
            stroke-width: 70px;
        }
    /* 當懸停時增加連接線寬度 */
}

/* 定義矩形和文本形狀的文本對齊方式 */
.shrect.ta-1 text, .shtxt.ta-1 text {
    text-anchor: start;
}

.shrect.ta-2 text, .shtxt.ta-2 text {
    text-anchor: middle;
}

.shrect.ta-3 text, .shtxt.ta-3 text {
    text-anchor: end;
}

.shrect.ta-1 textarea, .shtxt.ta-1 textarea {
    text-align: left;
}

.shrect.ta-2 textarea, .shtxt.ta-2 textarea {
    text-align: center;
}

.shrect.ta-3 textarea, .shtxt.ta-3 textarea {
    text-align: right;
}

.shtxt textarea {
    caret-color: rgb(73, 80, 87);
}
/* 設定文本區域的光標顏色 */
.shtxt text {
    fill: rgb(73, 80, 87);
}
/* 設定文本顏色 */
.shtxt [data-key="main"] {
    fill: transparent;
    stroke: transparent;
}
/* 設定形狀的主體填充和描邊為透明 */
.shtxt.select [data-key="main"], .shtxt.highlight [data-key="main"] {
    stroke: rgb(108 187 247 / 51%);
    stroke-width: 2px;
}
/* 選中或高亮時的描邊樣式 */

/* 定義菱形的高亮和選中樣式 */
.shrhomb.highlight [data-key="border"] {
    stroke-width: 28px;
    stroke: rgb(108 187 247 / 51%);
}

.shrhomb.highlight [data-key="main"] {
    stroke-width: 18px;
    stroke: #1D809F;
}

/* 定義不同顏色類型的形狀樣式 */
.cl-red [data-key="main"] {
    fill: #E74C3C;
}

.cl-red .path {
    stroke: #E74C3C;
}

.cl-orange [data-key="main"] {
    fill: #ff6600;
}

.cl-orange .path {
    stroke: #ff6600;
}

.cl-green [data-key="main"] {
    fill: #19bc9b;
}

.cl-green .path {
    stroke: #19bc9b;
}

.cl-blue [data-key="main"] {
    fill: #1aaee5;
}

.cl-blue .path {
    stroke: #1aaee5;
}

.cl-dblue [data-key="main"] {
    fill: #1D809F;
}

.cl-dblue .path {
    stroke: #1D809F;
}

.cl-dgray [data-key="main"] {
    fill: #495057;
}

.cl-dgray .path {
    stroke: #495057;
}

.shtxt.cl-red [data-key="main"] {
    fill: transparent;
}

.shtxt.cl-red text {
    fill: #E74C3C;
}

.shtxt.cl-orange [data-key="main"] {
    fill: transparent;
}

.shtxt.cl-orange text {
    fill: #ff6600;
}

.shtxt.cl-green [data-key="main"] {
    fill: transparent;
}

.shtxt.cl-green text {
    fill: #19bc9b;
}

.shtxt.cl-blue [data-key="main"] {
    fill: transparent;
}

.shtxt.cl-blue text {
    fill: #1aaee5;
}

.shtxt.cl-dblue [data-key="main"] {
    fill: transparent;
}

.shtxt.cl-dblue text {
    fill: #1D809F;
}

.shtxt.cl-dgray [data-key="main"] {
    fill: transparent;
}

.shtxt.cl-dgray text {
    fill: #495057;
}

.shrhomb.cl-red [data-key="main"] {
    stroke-width: 18px;
    stroke: #E74C3C;
}

.shrhomb.cl-orange [data-key="main"] {
    stroke-width: 18px;
    stroke: #ff6600;
}

.shrhomb.cl-green [data-key="main"] {
    stroke-width: 18px;
    stroke: #19bc9b;
}

.shrhomb.cl-blue [data-key="main"] {
    stroke-width: 18px;
    stroke: #1aaee5;
}

.shrhomb.cl-dblue [data-key="main"] {
    stroke-width: 18px;
    stroke: #1D809F;
}

.shrhomb.cl-dgray [data-key="main"] {
    stroke-width: 18px;
    stroke: #495057;
}
