@model prjWorkflowHubAdmin.ContextModels.TMember

@{
    ViewData["Title"] = "會員管理";
}

<h1>新增客戶作業</h1>

<h4>輸入客戶資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBirthday" class="control-label"></label>
                <input asp-for="FBirthday" class="form-control" />
                <span asp-validation-for="FBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPhone" class="control-label"></label>
                <input asp-for="FPhone" class="form-control" />
                <span asp-validation-for="FPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FEmail" class="control-label"></label>
                <input asp-for="FEmail" class="form-control" />
                <span asp-validation-for="FEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAddress" class="control-label"></label>
                <input asp-for="FAddress" class="form-control" />
                <span asp-validation-for="FAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPassword" class="control-label"></label>
                <input asp-for="FPassword" class="form-control" />
                <span asp-validation-for="FPassword" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="FPermissions" class="control-label"></label>
                <input asp-for="FPermissions" class="form-control" />
                <span asp-validation-for="FPermissions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMemberPoints" class="control-label"></label>
                <input asp-for="FMemberPoints" class="form-control" />
                <span asp-validation-for="FMemberPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMemberShip" class="control-label"></label>
                <input asp-for="FMemberShip" class="form-control" />
                <span asp-validation-for="FMemberShip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMailVerify" class="control-label"></label>
                <input asp-for="FMailVerify" class="form-control" />
                <span asp-validation-for="FMailVerify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FSopexp" class="control-label"></label>
                <input asp-for="FSopexp" class="form-control" />
                <span asp-validation-for="FSopexp" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="送出並新增" class="btn btn-primary" />
                <button id="demo" type="button" class="btn btn-primary">Demo</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MemberIndex">取消新增</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        document.getElementById("demo").addEventListener("click", function(){
            document.getElementById("FName").value = "Annie";
            document.getElementById("FBirthday").value = "20031025";
            document.getElementById("FPhone").value = "0925186839";
            document.getElementById("FEmail").value = "Annie@yahoo.com.tw";
            document.getElementById("FAddress").value = "420 臺中市豐原區豐勢路25號";
            document.getElementById("FPassword").value = "123";
            }
        );

    </script>

}
