@model prjWorkflowHubAdmin.ContextModels.TMember

@{
    ViewData["Title"] = "會員管理";
}

<h1>修改客戶作業</h1>

<h4>修改客戶資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="FMemberId" value="@Model.FMemberId" />
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBirthday" class="control-label"></label>
                <input asp-for="FBirthday" class="form-control" />
                <span asp-validation-for="FBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPhone" class="control-label"></label>
                <input asp-for="FPhone" class="form-control" />
                <span asp-validation-for="FPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FEmail" class="control-label"></label>
                <input asp-for="FEmail" class="form-control" />
                <span asp-validation-for="FEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAddress" class="control-label"></label>
                <input asp-for="FAddress" class="form-control" />
                <span asp-validation-for="FAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPassword" class="control-label"></label>
                <input asp-for="FPassword" class="form-control" />
                <span asp-validation-for="FPassword" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="FPermissions" class="control-label"></label>
                <input asp-for="FPermissions" class="form-control" />
                <span asp-validation-for="FPermissions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMemberPoints" class="control-label"></label>
                <input asp-for="FMemberPoints" class="form-control" />
                <span asp-validation-for="FMemberPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMemberShip" class="control-label"></label>
                <input asp-for="FMemberShip" class="form-control" />
                <span asp-validation-for="FMemberShip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMailVerify" class="control-label"></label>
                <input asp-for="FMailVerify" class="form-control" />
                <span asp-validation-for="FMailVerify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FSopexp" class="control-label"></label>
                <input asp-for="FSopexp" class="form-control" />
                <span asp-validation-for="FSopexp" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="送出並儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MemberIndex">取消修改</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
