@{
    ViewData["Title"] = "打開畫布列表";
    Layout = "~/Views/Shared/_LayoutDiagram.cshtml";
}

<!--新增工作流程 - Ajax-->
<button class="btn btn-primary me-2" style="position:fixed; right:190px ; bottom:36px; z-index:1000"
        id="createSop">
    新增工作流程-Ajax
</button>
<script src="~/workflowdiagram/ui/member-sop-save.js"></script>
