<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>@ViewData["Title"] - WorkflowHubAdmin</title>
    <!--模板開始-->
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico" />
    <!--模板結束-->
</head>
<body>
    <!--沒有Menu和Navbar-->
    @RenderBody()
    <!--沒有footer-->
    <!--模板js開始-->
    <!--模板js結束-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
